@model WorldMap.Models.Stats

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Stats</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="StatsId" />
        <dt>
            @Html.DisplayNameFor(model => model.Tries)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tries)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Success)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Success)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country.Capital)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
