@model IEnumerable<WorldMap.Models.Stats>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tries)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Success)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Success)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Capital)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StatsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StatsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StatsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
